.contenedor {
    width: 100%;
    height: 100%;
    background-image: url("https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg");

}
.fud{
    backdrop-filter: blur(5rem);
    filter:alpha(opacity=90);
    background-color: transparent;
    transition: 250ms background ease-in;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);

}
.body {
    height: 100%;
    font-family: "Open Sans";
    font-weight: 100;
    display: flex;
    overflow: hidden;
}

.form {
    box-shadow: 6px 6px 20px white;


}

.login-form {
    min-height: 10rem;
    margin: auto;
    max-width: 50%;
    padding: 0.5rem;
}

.login-username,
.login-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(white, 0.5);
    color: white;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);

}

.login-username:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

.login-password:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

.login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: 0.25rem;
    transition: 250ms background ease-in;

}

.login-submit:hover {
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

.login-submit:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
}
